<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworkManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ControllerContainer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>NewMing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C585C0A1B8AC1B00095DAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C585C221B8AC1B00095DAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C585C371B8AC3140095DAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C585C4F1B8AC3140095DAA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9C49581B86053200697754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C9C49731B86053200697754</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CFA0BE31B5F8216005B119F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CFA0BFF1B5F8216005B119F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CFA0C251B5F9053005B119F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
